<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "compactDiscSgt" class = "soundsystem3.SgtPeppers" />
    <bean id = "cdPlayer" class = "soundsystem3.CDPlayer">
            <constructor-arg ref = "compactDiscSgt" />
    </bean>
    <bean id = "compactDiscBlank" class="soundsystem3.BlankDisc">
        <constructor-arg value = "Sgt. Pepper's Lonely Hearts Club Band" />
        <constructor-arg value = "The Beatles" />
        <constructor-arg>
            <!--list元素也可以用set元素来替代-->
            <list>
                <value>A</value>
                <value>B</value>
                <value>C</value>
                <value>D</value>
                <value>E</value>
                <value>F</value>
                <value>G</value>
                <value>H</value>
                <value>I</value>
                <value>J</value>
            </list>
        </constructor-arg>
    </bean>

    <!--不适用于集合
    <bean id = "cdPlayer" class="soundsystem3.CDPlayer"
          c:cd-ref = "compactDisc" />
    <bean id = "compactDiscBlank" class="soundsystem3.BlankDisc"
          c:_title = "Sgt. Pepper's Lonely Hearts Club Band"
          c:_1 = "The Beatles"/>
     -->


</beans>